{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "liquidSingleQuote": false,
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.liquid",
      "options": {
        "parser": "liquid-html",
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "printWidth": 100
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 120
      }
    }
  ]
} 